@font-face {
    font-family: 'calibri'; /*a name to be used later*/
    src: url('/style/calibri.ttf'); /*URL to font*/
}
@font-face {
    font-family: 'space'; /*a name to be used later*/
    src: url('/style/space.ttf'); /*URL to font*/
}
body {
  background: white fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: 'Inter UI', sans-serif;
}

.formulaire {
	position: absolute;
	left: 0%;
	width: 100%;
	height: 100%;
	top: 150px;
}

.formulaire .img {
	position: absolute;
	height: 17%;
	width: 14%;
	left: 10%;
}
.formulaire .input {
	position: absolute;
	padding: 20px 20px;
	background: transparent;
	border: solid 1px rgba(50,50,50,0.1);
	color: black;
	font-size: 20px;
	height: 30px;
	line-height: 30px;
	outline: none !important;
	transition: all 0.8s;
}

.lang {
	position: absolute;
	top: 120px;
	left: 25%;
}

.formulaire .url {
	position: absolute;
	top: 18%;
	width: 7%;
	left: 10%;
}

.select-style {
    border: 1px solid #ccc;
    width: 53px;
    border-radius: 3px;
    overflow: hidden;
    background: #fafafa url("img/icon-select.png") no-repeat 90% 50%;
}

.select-style select {
	font-family: 'calibri';
	font-size: 20px;
	color: white;
    padding: 5px 8px;
    width: 64px;
    border: none;
    box-shadow: none;
    background: #474A59;
    background-image: none;
    -webkit-appearance: none;
}

.select-style select:focus {
    outline: none;
}

.formulaire .urlBtn {
	position: absolute;
	top: 18%;
	width: 6%;
	height: 41px;
	left: 18%;
    cursor: hand;
	font-family: 'calibri';
    border: 2px solid rgb(212, 108, 96);
    border-radius: 5px;
    color: rgb(212, 108, 96);
    text-align: center;
    padding: 5px 20px;
    font-size: 18px;
    transition: all 0.7s;
}

.formulaire .urlBtn:hover {
    cursor: hand;
    color: white;
    background-color: rgb(212, 108, 96);
}


.formulaire .input::placeholder {
	color: black;
}

.formulaire .input::-ms-input-placeholder { /* Microsoft Edge */
	color: black;
}

.formulaire .input:focus::placeholder {
	color: white;
}

.formulaire .input:focus::-ms-input-placeholder { /* Microsoft Edge */
	color: white;
}

.formulaire .title {
	width: 50%;
	left: 25%;
}

.formulaire .title:focus {
	width: 65%;
}

.formulaire .desc {
	margin-top: 70px;
	width: 50%;
	left: 25%;
}

.formulaire .desc:focus {
	width: 65%;
}

.formulaire .submit {
    cursor: hand;
	position: absolute;
	margin-top: 10px;
	width: 150px;
	left: calc(50% - 75px);
	font-family: 'calibri';
    border: 2px solid rgb(212, 108, 96);
    border-radius: 5px;
    height: 35px;
    color: rgb(212, 108, 96);
    text-align: center;
    padding: 5px 20px;
    font-size: 18px;
    transition: all 0.7s;
}

.formulaire .submit:hover {
    cursor: hand;
    color: white;
    background-color: rgb(212, 108, 96);
}


.formulaire .input:focus {
	background: #474A59;
	box-shadow: 0px 0px 40px 16px rgba(100,100,100,0.1);
	color: white;
	position: relative;
}

.formulaire .ending {
	position: absolute;
	top: 24%;
	width: 80%;
	height: 100%;
	left: 10%;
}

.formulaire .content {
	width: 100%;
	height: 90%;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	background-color: #f8f8f8;
} 